body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.root {
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin: 10px;
    flex-wrap: wrap;
    transition: all 0.5s;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}
